@layer base {
  @import "tailwindcss";
  
  :root {
    --background: 0 0% 100% 1;
    --foreground: 222.2 84% 4.9% 1;
    --card: 0 0% 100% 1;
    --card-foreground: 222.2 84% 4.9% 1;
    --popover: 0 0% 100% 1;
    --popover-foreground: 222.2 84% 4.9% 1;
    --primary: 222.2 47.4% 11.2% 1;
    --primary-foreground: 210 40% 98% 1;
    --secondary: 210 40% 96.1% 1;
    --secondary-foreground: 222.2 47.4% 11.2% 1;
    --muted: 210 40% 96.1% 1;
    --muted-foreground: 215.4 16.3% 46.9% 1;
    --accent: 210 40% 96.1% 1;
    --accent-foreground: 222.2 47.4% 11.2% 1;
    --destructive: 0 84.2% 60.2% 1;
    --destructive-foreground: 210 40% 98% 1;
    --border: 214.3 31.8% 91.4% 1;
    --input: 214.3 31.8% 91.4% 1;
    --ring: 222.2 84% 4.9% 1;
    --radius: 0.5rem;
    margin: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9% 1;
    --foreground: 210 40% 98% 1;
    --card: 222.2 84% 4.9% 1;
    --card-foreground: 210 40% 98% 1;
    --popover: 222.2 84% 4.9% 1;
    --popover-foreground: 210 40% 98% 1;
    --primary: 210 40% 98% 1;
    --primary-foreground: 222.2 47.4% 11.2% 1;
    --secondary: 217.2 32.6% 17.5% 1;
    --secondary-foreground: 210 40% 98% 1;
    --muted: 217.2 32.6% 17.5% 1;
    --muted-foreground: 215 20.2% 65.1% 1;
    --accent: 217.2 32.6% 17.5% 1;
    --accent-foreground: 210 40% 98% 1;
    --destructive: 0 62.8% 30.6% 1;
    --destructive-foreground: 210 40% 98% 1;
    --border: 217.2 32.6% 17.5% 1;
    --input: 217.2 32.6% 17.5% 1;
    --ring: 212.7 26.8% 83.9% 1;
  }
}